/* IMPORTACAO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* RESET DE BROWSER */
* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0
}

body {
	margin-top: 2%;
	margin-bottom: 2%;
}

p {
	font-family: 'Roboto', sans-serif;
}

main > section {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
}

section.second div:nth-child(2) p:first-child {
	/*font-size: 2vw;*/
	font-size: 40%;
	padding: 10px;
}

section.second div:nth-child(2) p:last-child {
	/*font-size: 2vw;*/
	font-size: 30%;
	font-weight: none;
	padding: 10px;
}

section > div {
	width: 40%;
	/*padding: 20px;
	Talvez ao remover o padding, o problema de botao na pagina 3 solucione*/
}

.errorMessageForm {
	visibility: hidden;
	width: 50%;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 6px;
	background-color: red;
}

/*.errorMessageForm:active {
	transform: scale (2);
	/*transition: 1.5s;
}*/

.imgIndex {
	width: 80%;
}

p.text_3rd {
	font-weight: bold;
	text-align: left;
	font-size: 150%;
	padding: 10px;
}

div.divButtons3rd {
	display: flex;
	padding: 15px;
	justify-content: space-between;
}

.buttonPadrao {
	/*width: 8vw;*/
	width: 40%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
}

.form3rd {
	width: 100%;
}

.form4th {
	
}

.buttonSkip {
	width: 100%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 10px;
	/*width: 418px;
	height: 36px;
	left: 734px;
	top: 623px;*/
}

.displayBlock {
	display: block;
}

p.text1 {
	/*font-size: 3vw;*/
	font-size: 550%;
	text-align: center;
	font-weight: bold;
}

p.text1-2 {
	font-size: 150%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

p.text2 {
	/*font-size: 1.5vw;*/
	font-size: 200%;
	padding: 10px;
}


main img {
	width: 100%;
	/*width: 30vw;*/
}

div.buttonsFlex {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.inputIndex {
	width: 35%;
}

.select3rd {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	/*width: 25vw;*/
	width: 100%;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
}

.inputIndex:hover {
	scale: 1.5;
}

div.radioAlign {
	text-align: left;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
}

div.radioAlign label {
	/*font-size: 1.5vw;*/
	font-size: 70%;
}

/* MEDIA QUERIES */
@media (max-width: 590px) {
	main > section {
		display: block;
		margin-left: auto;
		margin-right: auto;
		/*padding: 15px;*/
		text-align: center;
	}
	
	section > div {
		/*width: 30vw;*/
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	/*section > div:last-child {
		width: 30vw;
	}*/
	
	p.text2 {
		/*font-size: 1.5vw;*/
		font-size: 120%;
		padding: 10px;
	}
}

@media (min-width: 500px) and (max-width: 1192px){
	
	div.buttonsFlex {
		display: flex;
		/*width: 40vw;*/
		width: 100%;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.radioAlign {
	/*display: flex;*/
	/*flex-direction: column;*/
	text-align: left;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
	width: 100%;
}
}

/*@media (max-width: 1258px) {
	input {
		width: 10vw;
		height: 4vw;
		color: #FFFFFF;
		background-color: #3EB25E;
		border-radius: 35px;
		padding: 12px;
	}
}*/