/* IMPORTACAO DE FONTE */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* RESET DE BROWSER */
* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0
}

body {
	margin-top: 2%;
	margin-bottom: 2%;
}

p {
	font-family: 'Roboto', sans-serif;
}

main > section {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
}

section > div {
	width: 40%;
	padding: 20px;
}

div.divAuxiliarBotoes1 {
	text-align: left;
	width: 100%;
}

div.divAuxiliarBotoes2 {
	text-align: right;
	width: 100%;
}

.errorMessageForm {
	visibility: hidden;
	width: 50%;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 6px;
	background-color: red;
}

.imgIndex {
	width: 65%;
}

p.text_3rd {
	font-weight: bold;
	text-align: left;
	font-size: 150%;
	padding: 10px;
}

div.divButtons {
	display: flex;
	padding: 15px;
	justify-content: space-between;
}

input.textBox {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: 459px;
	height: 225px;
}

div.divPadding {
	padding: 15px;
}
.buttonPadrao {
	width: 80%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 6px;
}

.buttonPadrao6 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 6px;
	margin-bottom: 2%;
}

a {
	width: 100%;
}


.buttonPadrao:hover {
	background-color: #FFFF7D;
	color: black;
}

.buttonPadraoIndex {
	width: 45%;
	height: 35.55px;
	margin-top: 8%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 4px;
}

.input6 {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: 100%;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
	float: left;
	margin-bottom: 2%;
}

.input6Age {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: 10%;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
	float: left;
	margin-bottom: 2%;
}

.form3rd {
	width: 100%;
}

.form4th {
	
}
.buttonSkip {
	width: 95%;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 10px;
}

.buttonSkip:hover {
	background-color: #FFFF7D;
	color: black;
}

.displayBlock {
	display: block;
}

p.text1 {
	font-size: 8vw;
	text-align: center;
	font-weight: bold;
}

p.text1-2 {
	font-size: 150%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

p.text2 {
	font-size: 200%;
	margin-bottom: 8.8%;
}


main img {
	width: 100%;
}

div.buttonsFlex {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.inputIndex {
	width: 35%;
}



.select3rd {
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: 100%;
	padding: 8px;
	font-family: 'Roboto', sans-serif;
}

.inputIndex:hover {
	scale: 1.5;
}

div.radioAlign {
	text-align: left;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
}

div.radioAlign label {
	font-size: 70%;
}

/* MEDIA QUERIES */
@media (max-width: 590px) {
	main > section {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	section > div {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	p.text2 {
		font-size: 120%;
		padding: 10px;*/
	}
	
	.imgIndex {
		width: 65%;
		margin-right: 20%;
	}
}

@media (min-width: 500px) and (max-width: 1192px){
	
	div.buttonsFlex {
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.radioAlign {
		text-align: left;
		font-size: 150%;
		font-family: 'Roboto', sans-serif;
		width: 100%;
	}
}

@media (max-width: 608px) {
	input.textBox {
		width: 261px;
		height: 129px;
	}
}

@media (min-width: 608px) and (max-width: 675px) {
	input.textBox {
		width: 271px;
		height: 134px;
	}
}

@media (min-width: 675px) and (max-width: 755px) {
	input.textBox {
		width: 301px;
		height: 148px;
	}
}

@media (min-width: 755px) and (max-width: 825px) {
	input.textBox {
		width: 334px;
		height: 164px;
	}
}

@media (min-width: 825px) and (max-width: 945px) {
	input.textBox {
		width: 371px;
		height: 182px;
	}
}

@media (min-width: 945px) and (max-width: 1070px) {
	input.textBox {
		width: 413px;
		height: 202px;
	}
}