/*@font-face {
	font-family: "Inter-Regular";
	src: url("../font/Inter-Regular.ttf");
	format("truetype");
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* RESET DE BROWSER */
* {
	padding: 0;
	margin-top: 1%;
	margin-left: 0;
	margin-right: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0
}

main > section {
	display: flex;
	align-items: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	justify-content: space-evenly;
	text-align: center;
}

main > section.second {
	display: flex;
	align-items: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	justify-content: space-evenly;
	text-align: center;
}

div:nth-child(2) > p {
	font-size: 3vw;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

section.second div:nth-child(2) p:first-child {
	font-size: 2vw;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
}

section.second div:nth-child(2) p:last-child {
	font-size: 2vw;
	font-weight: none;
	padding: 10px;
	font-family: Arial;
}

section > div {
	/*width: 90%;*/
	width: 30vw;
}

section > div:last-child {
	/*width: 90%;*/
	width: 30vw;
}

div:nth-child(2) > p:first-child {
	font-size: 6vw;
}

main img {
	/*width: 80%;*/
	width: 30vw;
}

section > div:nth-child(2) div:first-child {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div.buttonsFlex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
}

input {
	width: 8vw;
	color: #FFFFFF;
	background-color: #3EB25E;
	border-radius: 35px;
	padding: 12px;
}

.inputIndex {
	
}

.inputIndex:hover {
	scale: 1.5;
}

@media (max-width: 590px) {
	main > section, main > section.second {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		padding: 15px;
		text-align: center;
	}
	
	section > div {
	/*width: 90%;*/
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
	}

	section > div:last-child {
		/*width: 90%;*/
		width: 30vw;
	}
}

@media (min-width: 500px) and (max-width: 1192px){
	input {
		width: 18vw;
		color: #FFFFFF;
		background-color: #3EB25E;
		border-radius: 35px;
		padding: 12px;
		margin-left: auto;
		margin-right: auto;
	}
	div.buttonsFlex {
		display: flex;
		width: 40vw;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		margin-left: auto;
		margin-right: auto;
	}
}

/*@media (max-width: 1258px) {
	input {
		width: 10vw;
		height: 4vw;
		color: #FFFFFF;
		background-color: #3EB25E;
		border-radius: 35px;
		padding: 12px;
	}
}*/